.link {
  text-decoration: none;
  font-weight: 400;
  padding: 0 16.5px 8px 16.5px;
  font-size: 20px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  
  &_active {
    border-bottom: 2px solid #FFFFFF;
  }

  &:hover {
    border-bottom: 2px solid #FFFFFF;
  }
}

@media screen and (max-width: 1023px){
  .link {
    color: #000;
    font-size: 18px;
    text-align: right;

    &:hover {
      border-bottom: 2px solid #383DB7;
    }
  
    &_active {
      border-bottom: 2px solid #383DB7;
    }
  }
}
