.banner {
  position: relative;
  width: 100%;
  padding-top: calc(50% - 106px);

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    padding-top: 8.1%;
    padding-left: 13.2%;
  }

  &__title {
    margin: 0;
    padding-bottom: 21px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0;
    padding-bottom: 111px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__button {
    cursor: pointer;
    width: 244px;
    height: 54px;
    border: none;
    background-color: #383db7;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.1s linear;

    &:hover {
      color: #383db7;
      background-color: #fff;
      border: 2px solid #383db7;
    }
  }

  &__image {
    z-index: -1;
    max-width: 512px;
    width: 40%;
    position: absolute;
    bottom: 2%;
    left: 40%;
  }
}

@media screen and (max-width: 1280px) {
  .banner__image {
    width: 30%;
  }
}

@media screen and (max-width: 1023px) {
  .banner {
    padding-top: 105%;

    &__image {
      left: 26%;
      width: 512px;
    }

    &__content {
      padding-top: 93px;
      padding-left: 112px;
    }

    &__subtitle {
      padding-left: 6px;
      padding-bottom: 88px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner {
    padding: 0;

    &__content {
      padding: 0;
      padding-top: 48px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      padding-bottom: 0;
      font-weight: normal;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
    }

    &__subtitle {
      padding: 12px 0 55px 0;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
    }

    &__image {
      position: relative;
      align-self: center;
      width: 250px;
      left: 0;
    }

    &__button {
      margin-top: 30px;
      width: 280px;
      height: 40px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
